<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
	<!--<head>-->
		<!--<title>Home</title>-->
	<!--</head>-->
	<!--<body>-->
	<!--<ul>-->
		<!--<li><a th:href="@{/signout}">Sign Out</a></li>-->
	<!--</ul>-->
	<!--<h3>Your Vkontakte Friends</h3>-->
	<!--<ul>-->
		<!--<li th:each="friend : ${friends.items}"><img th:src="'http://graph.facebook.com/' + ${friend.getId()} + '/picture'" align="middle"/><span th:text="${friend.getFirstName()}">firstname</span> <span th:text="${friend.getLastName()}">lastname</span></li>-->
	<!--</ul>	-->
	<!--</body>-->
<!--</html>-->